*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.nav-title{
    font-size: 45;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),
    url('../images/developer.png');
    background-repeat:no-repeat;
    background-position: bottom right, left;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 50px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 100px 0 200px;
}

.banner h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner h1{
    columns: #181818;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-ph{
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    padding: 130px 156px;
    background-color: #FFF8F3;
    border-radius: 5px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: bold;
    color:#474747;
}
.what-i-do{
    margin-top: 130px;
    text-align: center;
    padding: 0 156px;
}
.skills{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}
.skill{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow:0 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    margin-top: 20px;
}
.skill image{
    width: 44px;
    height: 44px;
}
.resume{
    margin-top: 160px;
    text-align: center;
}

.resume-container{
    display: flex;
    gap: 70px;
    margin-top: 113px;
    margin-bottom: 50px;
}
.resume-content{
    text-align: left;
}
.resume-subtitle{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}
.inner-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10p;
}
.inner-subtitle{
    font-weight: 600;
    font-size: 20px;
    color:#757575;
    margin-bottom: 20px;
}
.resume-info{
    margin-bottom:30px;
    margin-top: 30px;
}
.inner-description{
    color: #757575;
    font-size: 16px;
}
hr{
    border-top: 1px solid #d1d1d1;
}
footer{
    background-color: #FFF8F3;
    margin-top: 110px;
    padding: 130px 0;
}
.contact{
    max-width: 1140px;
    display: flex;
    gap: 117px;
    margin: 0 auto;
}
.connect-description{
    font-size: 16px;
    color:#474747;
}
.message input,textarea{
    display: block;
    margin-top: 20px;
    padding: 18px 30px;
    border: none;
}
.user-input{
    width: 461px;
    height: 64px;
}

.contact ul{
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    padding: 0;
    list-style-type: none;
}
.contact ul li{    
    margin-right: 20px;
    margin-left: 0;
}
.contact ul li img{
    width: 24px;
    height: 24px;
}